.addresses-table-block {
    max-width: 1300px !important;
}

td {
    max-width: 150px !important;
}

.edit-addr-form input.red {
    color: #EB4732
}
.new-addr-form input.red {
    color: #EB4732
}
